/Stock/nbproject/private/
/Stock/Stock-war/nbproject/private/
/Stock/Stock-ejb/nbproject/private/
/Stock/build/
/Stock/dist/
/Stock/Stock-ejb/build/
/Stock/Stock-ejb/dist/
/Stock/Stock-war/build/
/Mouvement/nbproject/private/
/Mouvement/build/
/Mouvement/dist/